duet-date-picker {
  --duet-color-primary: #e20074;
  --duet-color-text: #262626;
  --duet-color-overlay: #fff;
  --duet-font: TeleNeoWeb;
  --duet-font-normal: 400;
  --duet-font-bold: 500;
  --duet-color-placeholder: #6c6c6c;
  --duet-radius: 4px;

  --duet-color-text-active: #fff;
  --duet-color-button: #fff;
  --duet-color-surface: #fff;
  --duet-z-index: 600;
}

duet-date-picker .duet-date__input {
  border: 1px solid #262626;
}

duet-date-picker .duet-date__input:hover {
  border: 1px solid #f90984;
}

duet-date-picker .duet-date__input:focus {
  box-shadow: 0 0 0 2px #009de0;
  border: 1px solid #262626;
}

duet-date-picker .duet-date__toggle {
  border-radius: 4px;
}

duet-date-picker .duet-date__toggle:focus {
  box-shadow: 0 0 0 2px #009de0;
}

duet-date-picker .duet-date__toggle:hover scale-icon-content-calendar {
  color: #f90984;
}

duet-date-picker .duet-date__toggle:active scale-icon-content-calendar {
  color: #cb0068;
}

duet-date-picker .duet-date__dialog-content {
  border: none;
  box-shadow: 0 16px 64px 0 rgba(0, 0, 0, 0.1), 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}

duet-date-picker .duet-date__select:nth-of-type(1) {
  margin-right: 8px;
}

duet-date-picker .duet-date__select select:focus + .duet-date__select-label {
  box-shadow: 0 0 0 2px #009de0;
}

duet-date-picker .duet-date__select select:hover + .duet-date__select-label {
  background: #f90984;
  color: #fff;
}
duet-date-picker .duet-date__select select:active + .duet-date__select-label {
  box-shadow: none;
  background: #cb0068;
  color: #fff;
}

duet-date-picker .duet-date__prev,
duet-date-picker .duet-date__next {
  border-radius: 4px;
}
duet-date-picker .duet-date__prev:hover,
duet-date-picker .duet-date__next:hover {
  background: #f90984;
  color: #fff;
}
duet-date-picker .duet-date__prev:active,
duet-date-picker .duet-date__next:active {
  background: #cb0068;
  color: #fff;
}
duet-date-picker .duet-date__prev:focus,
duet-date-picker .duet-date__next:focus {
  box-shadow: 0 0 0 2px #009de0;
}

duet-date-picker .duet-date__close {
  border-radius: 4px;
}

duet-date-picker .duet-date__close:focus {
  box-shadow: 0 0 0 2px #009de0;
}

duet-date-picker .duet-date__day {
  padding: 0;
  border-radius: 8px;
}

duet-date-picker .duet-date__day.is-today {
  box-shadow: none;
}
duet-date-picker .duet-date__day.is-disabled {
  opacity: 1;
  color: #d0d0d0;
  pointer-events: none;
}

duet-date-picker .duet-date__day.is-today::before {
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 7.5px;
  background-color: #e20074;
  opacity: 1;
  left: 16px;
  top: 27px;
}

duet-date-picker [aria-selected='true'] .duet-date__day.is-today::before,
duet-date-picker .duet-date__day.is-today:hover::before {
  background-color: #fff;
}

duet-date-picker .duet-date__day.is-today.is-disabled::before {
  background-color: #d0d0d0;
}

duet-date-picker .duet-date__day:focus {
  box-shadow: 0 0 0 2px #009de0;
  background: #ffffff;
  color: #e20074;
}

duet-date-picker .duet-date__day:active:focus {
  box-shadow: none;
  background: #cb0068;
  color: #fff;
}

duet-date-picker .duet-date__day:hover {
  background: #f90984;
  color: #fff;
}

duet-date-picker .duet-date__day:hover::before {
  border-radius: 4px;
  opacity: 1;
  background: transparent;
  color: #fff;
}
