:host(scale-list-item) {
  display: block;
}

.list-item {
  position: relative;
  font-size: var(--scl-font-size-16);
  line-height: var(--scl-font-line-height-150);
  padding-left: calc(0.25ch + var(--scl-spacing-16));
}

.list-item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
}

.list-item--unordered:before {
  top: 0.5em;
  border: var(--scl-spacing-1) solid currentColor;
  display: block;
  transform: scale(0.66);
  background: currentColor;
  box-sizing: border-box;
  border-radius: 50%;
  width: var(--scl-spacing-8);
  height: var(--scl-spacing-8);
}

.list-item--nested.list-item--unordered:before {
  border: var(--scl-spacing-1) solid currentColor;
  background: transparent;
}

.list-item--ordered:before {
  content: attr(data-index) '.';
  font-size: var(--scl-spacing-16);
  font-weight: var(--scl-font-weight-bold);
}

.list-item--nested.list-item--ordered:before {
  font-size: var(--scl-spacing-12);
  line-height: var(--scl-font-line-height-150);
  padding-top: calc(var(--scl-spacing-16) - var(--scl-spacing-12));
}

.list-item--no-marker {
  display: inline-flex;
  align-items: center;
  padding-left: 0;
}

.list-item--no-marker:before {
  display: none;
}

.list-item--no-marker > ::slotted(*) {
  margin-right: var(--scl-spacing-8);
}
