:host {
  --loading-size: 24px;
}

.spinner--alignment-horizontal {
  display: inline-flex;
}
.spinner--alignment-vertical {
  display: block;
  justify-content: center;
  align-items: center;
  width: 70px;
}

.spinner--alignment-horizontal .spinner__container {
  height: 40px;
  width: 40px;
  text-align: center;
}

.spinner--alignment-vertical .spinner__container {
  height: 40px;
  width: 40px;
  margin-left: 15px;
  text-align: center;
}

.spinner__text {
  font-weight: bold;
  font-size: var(--scl-font-size-16);
}

.spinner__text--alignment-horizontal {
  padding-left: 5px;
  line-height: 40px;
}
.spinner__text--alignment-vertical {
  width: 70px;
  margin-left: 5px;
}

.spinner__text--variant-white {
  color: var(--scl-color-white);
}

.spinner__text--variant-magenta {
  color: var(--scl-color-grey-60);
}

.spinner__circle {
  display: inline-block;
  height: var(--loading-size);
  width: var(--loading-size);
  margin: 0px auto;
  margin-top: 5px;
  -webkit-animation: rotation 1.5s infinite linear;
  -moz-animation: rotation 1.5s infinite linear;
  -o-animation: rotation 1.5s infinite linear;
  animation: rotation 1.5s infinite linear;
  border-top: 3px solid #d0d0d0;
  border-radius: 100%;
}

.spinner__circle--variant-magenta {
  border-left: 3px solid var(--scl-color-primary);
  border-right: 3px solid var(--scl-color-primary);
  border-bottom: 3px solid var(--scl-color-primary);
}

.spinner__circle--variant-white {
  border-left: 3px solid var(--scl-color-white);
  border-right: 3px solid var(--scl-color-white);
  border-bottom: 3px solid var(--scl-color-white);
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}
@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
