@font-face {
  font-family: "TeleNeoWeb";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/TeleNeoWeb-Bold.eot");
  src: url("fonts/TeleNeoWeb-Bold.woff") format("woff"),
    url("fonts/TeleNeoWeb-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "TeleNeoWeb";
  font-style: italic;
  font-weight: 700;
  src: url("fonts/TeleNeoWeb-BoldItalic.eot");
  src: url("fonts/TeleNeoWeb-BoldItalic.woff") format("woff"),
    url("fonts/TeleNeoWeb-BoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: "TeleNeoWeb";
  font-style: normal;
  font-weight: 800;
  src: url("fonts/TeleNeoWeb-ExtraBold.eot");
  src: url("fonts/TeleNeoWeb-ExtraBold.woff") format("woff"),
    url("fonts/TeleNeoWeb-ExtraBold.woff2") format("woff2");
}
@font-face {
  font-family: "TeleNeoWeb";
  font-style: italic;
  font-weight: 800;
  src: url("fonts/TeleNeoWeb-ExtraBoldItalic.eot");
  src: url("fonts/TeleNeoWeb-ExtraBoldItalic.woff") format("woff"),
    url("fonts/TeleNeoWeb-ExtraBoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: "TeleNeoWeb";
  font-style: normal;
  font-weight: 500;
  src: url("fonts/TeleNeoWeb-Medium.eot");
  src: url("fonts/TeleNeoWeb-Medium.woff") format("woff"),
    url("fonts/TeleNeoWeb-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "TeleNeoWeb";
  font-style: italic;
  font-weight: 500;
  src: url("fonts/TeleNeoWeb-MediumItalic.eot");
  src: url("fonts/TeleNeoWeb-MediumItalic.woff") format("woff"),
    url("fonts/TeleNeoWeb-MediumItalic.woff2") format("woff2");
}
@font-face {
  font-family: "TeleNeoWeb";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/TeleNeoWeb-Regular.eot");
  src: url("fonts/TeleNeoWeb-Regular.woff") format("woff"),
    url("fonts/TeleNeoWeb-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "TeleNeoWeb";
  font-style: italic;
  font-weight: 400;
  src: url("fonts/TeleNeoWeb-RegularItalic.eot");
  src: url("fonts/TeleNeoWeb-RegularItalic.woff") format("woff"),
    url("fonts/TeleNeoWeb-RegularItalic.woff2") format("woff2");
}
@font-face {
  font-family: "TeleNeoWeb";
  font-style: normal;
  font-weight: 100;
  src: url("fonts/TeleNeoWeb-Thin.eot");
  src: url("fonts/TeleNeoWeb-Thin.woff") format("woff"),
    url("fonts/TeleNeoWeb-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "TeleNeoWeb";
  font-style: italic;
  font-weight: 100;
  src: url("fonts/TeleNeoWeb-ThinItalic.eot");
  src: url("fonts/TeleNeoWeb-ThinItalic.woff") format("woff"),
    url("fonts/TeleNeoWeb-ThinItalic.woff2") format("woff2");
}

p,
h1,
h2,
li {
  font-family: "TeleNeoWeb", "TeleNeo", sans-serif !important;
}

a {
  font-family: "TeleNeoWeb", "TeleNeo", sans-serif !important;
  font-size: 14px !important;
  text-decoration: none !important;
  color: #00a6f0 !important;
}
