@font-face {
  font-family: "TeleNeoWeb";
  font-style: normal;
  font-weight: 700;
  src: url("TeleNeoWeb-Bold.eot");
  src: url("TeleNeoWeb-Bold.woff") format("woff"),
    url("TeleNeoWeb-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "TeleNeoWeb";
  font-style: italic;
  font-weight: 700;
  src: url("TeleNeoWeb-BoldItalic.eot");
  src: url("TeleNeoWeb-BoldItalic.woff") format("woff"),
    url("TeleNeoWeb-BoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: "TeleNeoWeb";
  font-style: normal;
  font-weight: 800;
  src: url("TeleNeoWeb-ExtraBold.eot");
  src: url("TeleNeoWeb-ExtraBold.woff") format("woff"),
    url("TeleNeoWeb-ExtraBold.woff2") format("woff2");
}
@font-face {
  font-family: "TeleNeoWeb";
  font-style: italic;
  font-weight: 800;
  src: url("TeleNeoWeb-ExtraBoldItalic.eot");
  src: url("TeleNeoWeb-ExtraBoldItalic.woff") format("woff"),
    url("TeleNeoWeb-ExtraBoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: "TeleNeoWeb";
  font-style: normal;
  font-weight: 500;
  src: url("TeleNeoWeb-Medium.eot");
  src: url("TeleNeoWeb-Medium.woff") format("woff"),
    url("TeleNeoWeb-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "TeleNeoWeb";
  font-style: italic;
  font-weight: 500;
  src: url("TeleNeoWeb-MediumItalic.eot");
  src: url("TeleNeoWeb-MediumItalic.woff") format("woff"),
    url("TeleNeoWeb-MediumItalic.woff2") format("woff2");
}
@font-face {
  font-family: "TeleNeoWeb";
  font-style: normal;
  font-weight: 400;
  src: url("TeleNeoWeb-Regular.eot");
  src: url("TeleNeoWeb-Regular.woff") format("woff"),
    url("TeleNeoWeb-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "TeleNeoWeb";
  font-style: italic;
  font-weight: 400;
  src: url("TeleNeoWeb-RegularItalic.eot");
  src: url("TeleNeoWeb-RegularItalic.woff") format("woff"),
    url("TeleNeoWeb-RegularItalic.woff2") format("woff2");
}
@font-face {
  font-family: "TeleNeoWeb";
  font-style: normal;
  font-weight: 100;
  src: url("TeleNeoWeb-Thin.eot");
  src: url("TeleNeoWeb-Thin.woff") format("woff"),
    url("TeleNeoWeb-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "TeleNeoWeb";
  font-style: italic;
  font-weight: 100;
  src: url("TeleNeoWeb-ThinItalic.eot");
  src: url("TeleNeoWeb-ThinItalic.woff") format("woff"),
    url("TeleNeoWeb-ThinItalic.woff2") format("woff2");
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li {
  font-family: "TeleNeoWeb", "TeleNeo", sans-serif !important;
}

.sbdocs-h1,
.sbdocs-h2,
.sbdocs-h3,
.sbdocs-h4,
.sbdocs-h5,
.sbdocs-h6 {
  font-weight: 800 !important;
}

.sbdocs-h1 {
  font-size: 56px !important;
  line-height: 64px !important;
}
.sbdocs-h2 {
  font-size: 32px !important;
  line-height: 40px !important;
  margin-top: 40px !important;
}
.sbdocs-h3 {
  font-size: 24px !important;
  line-height: 32px !important;
}
.sbdocs-h4 {
  font-size: 20px !important;
  line-height: 24px !important;
}
.sbdocs-h5 {
  font-size: 16px !important;
  line-height: 24px !important;
}
.sbdocs-h6 {
  font-size: 16px !important;
  line-height: 22px !important;
}

.sbdocs-a {
  font-family: "TeleNeoWeb", "TeleNeo", sans-serif !important;
  /* #00a6f0 fails :) https://colorable.jxnblk.com/00a6f0/ffffff  */
  color: #007DB3 !important;
}

.sbdocs-p, .sbdocs-ul, .sbdocs-li {
  font-size: 16px !important;
  line-height: 24px !important;
}
