.sr-only {
  position: absolute;
  left: -10000px;
  overflow: hidden;
}

.content {
  background: var(--scl-color-background-standard, #fff);
  padding-left: var(--header-content-side-padding, 24px);
  padding-right: var(--header-content-side-padding, 24px);
}

.shell {
  --header-nav-height: 56px;
  --header-brand-height: 72px;
  --header-border-radius: 8px;
  --header-transition-speed: 0.3s;
  --header-brand-collapsed-height: 4px;
  --header-max-width: inherit;
}
@media (max-width: 1023px) {
  .shell .content {
    padding-top: calc(
      var(--header-brand-collapsed-height) + var(--header-nav-height)
    );
  }
}
@media (min-width: 1024px) {
  .shell.shell--sticky .content {
    padding-top: calc(
      var(--header-brand-collapsed-height) + var(--header-nav-height)
    );
  }
  .content {
    transition: padding-top var(--header-transition-speed) ease-in-out;
    padding-top: calc(var(--header-brand-height) + var(--header-nav-height));
  }
}
@media (min-width: 1552px) {
  .shell .content {
    margin: 0 auto;
    max-width: var(--header-max-width);
  }
}
