.rating {
  position: relative;
  display: inline-flex;
  border-radius: 0.25rem;
}

.rating:focus {
  outline: none;
}

.rating-focus:focus {
  /* box-shadow: 0 0 0 var(--custom-outline-spread) rgb(0, 238, 255); */
  box-shadow: var(--scl-shadow-level-2-hover, 0px 10px 40px 0px hsla(0, 0%, 0%, 0.1), 0px 5px 10px 0px hsla(0, 0%, 0%, 0.1));
}

.rating__symbols {
  display: inline-flex;
  position: relative;
  cursor: pointer;
  padding: 0.1rem 0.125rem 0px 0.125rem;
}

.rating__symbols--indicator {
  position: absolute;
  top: 0;
  left: 0;
}

.rating__symbol {
  /* transition: 100ms transform; */
  margin-right: var(--scl-spacing-4, 4px);
}

.rating__symbol:last-child {
  padding-right: 0;
}

/* .rating__symbol--hover {
  transform: scale(1.2);
} */

.rating__symbol--hover g g path {
  fill: var(--scl-color-primary-hover, #f80983);
}

.rating--interactive .rating__symbols,
.rating--disabled .rating__symbols {
  cursor: default;
}

.rating--interactive .rating__symbol--hover,
.rating--disabled .rating__symbol--hover {
  transform: none;
}

.rating--disabled .rating__symbols {
  opacity: 50%;
}
