.rating {
  position: relative;
  display: inline-flex;
  border-radius: 0.25rem;
}

.rating:focus {
  outline: none;
}

.rating-focus:focus {
  outline: -webkit-focus-ring-color auto 1px;
}

.rating__symbols {
  display: inline-flex;
  position: relative;
  cursor: pointer;
}

.rating__symbols--indicator {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.rating__symbol {
  padding: var(--scl-spacing-2, 2px);
  display: flex;
}

.rating__symbol__wrapper {
  display: flex;
}

.rating--disabled .rating__symbols {
  cursor: default;
}

.rating--hover [selected] path {
  fill: var(--scl-color-primary-hover, #f80983);
}

.rating:active [selected] path {
  fill: var(--scl-color-primary-active, #f80983);
}

.rating.rating--disabled [selected] path {
  fill: var(--scl-color-grey-5000, #7c7c7c);
}
