.toast {
  width: 400px;
  display: flex;
  opacity: 0;
  z-index: 1;
  position: fixed;
  background: var(--scl-color-background-standard);
  box-shadow: var(--scl-shadow-level-0);
  box-sizing: border-box;
  border-radius: var(--scl-radius-4);
  flex-direction: column;
  justify-content: space-between;
}
.toast__body {
  padding: var(--scl-spacing-16);
}
.toast__header {
  margin: 0;
  display: flex;
  padding: var(--scl-spacing-16);
  border-bottom: 1px solid var(--scl-color-grey-20);
  justify-content: space-between;
  font-size: var(--scl-font-variant-heading-4-size);
}
.toast__header a {
  cursor: pointer;
}
.toast__header small {
  margin-top: 5px;
  margin-left: 120px;
  font-size: var(--scl-font-variant-smaller-size);
}
.toast__progress {
  left: 0;
  bottom: 0;
  height: var(--scl-spacing-2);
  display: block;
  overflow: hidden;
  position: absolute;
  background: red;
}
