.tag {
  --tag-color: var(--scl-color-text-default);
  --tag-text-color: var(--scl-color-white);
  --icon-color: var(--tag-text-color);

  border: 1px solid transparent;
  display: inline-flex;
  outline: none;
  padding: 0 10px;
  text-align: center;
  transition: all 0.15s ease-in-out;
  align-items: center;
  white-space: nowrap;
  border-radius: var(--scl-radius-4);
  vertical-align: baseline;
  justify-content: center;
  font-size: var(--scl-font-variant-body-size);
  line-height: var(--scl-font-variant-body-line-height);
  font-weight: var(--scl-font-weight-bold);
  background: var(--tag-color);
  color: var(--tag-text-color);
  cursor: default;
}

.tag--variant-secondary {
  --tag-color: #00739f;
}

.tag:not(.tag--disabled) scale-icon:hover {
  --icon-color: var(
    --scl-color-primary-active
  ); /* TODO: shouldn't this be hover color? */
}
.tag--dismissable {
  padding-right: 0;
}
.tag--dismissable button {
  border: none;
  cursor: pointer;
  height: 24px;
  margin: 0;
  outline: none;
  padding: 0;
  background: transparent;
  margin-left: var(--scl-spacing-2);
  border-radius: var(--scl-radius-4);
}

.tag--dismissable scale-icon svg {
  outline: none;
}
.tag--dismissable button:focus {
  border: 1px solid var(--scl-color-background);
  background: var(--scl-color-black);
  box-shadow:  0 0 0 var(--scl-spacing-2) var(--scl-color-focus);
}
.tag--dismissable button:hover {
  background: var(--scl-color-black);
}
.tag--dismissable button:focus scale-icon {
  top: -1px;
  position: relative;
}
.tag--size-small {
  padding: 0 var(--scl-spacing-8);
  font-size: var(--scl-font-size-12);
  line-height: var(--scl-font-line-height-160);
}
.tag--size-small.tag--dismissable {
  padding-right: 0;
}
.tag--size-small.tag--dismissable button {
  height: 20px;
}

.tag--variant-secondary.tag--disabled {
  opacity: 0.5;
}
.tag--link {
  text-decoration: none;
}
.tag--link:focus {
  border: 1px solid white;
  box-shadow:  0 0 0 var(--scl-spacing-2) var(--scl-color-focus);
}
.tag--link.tag--variant-secondary {
  background: var(--tag-color);
}
.tag--link.tag--variant-secondary:hover {
  background: var(--tag-color);
}
.tag--link.tag--variant-secondary:focus {
  border: 1px solid white;
}
.tag--disabled {
  --tag-color: var(--scl-color-background-disabled);
  --tag-text-color: var(--scl-color-grey-60);

  cursor: not-allowed;
}
.tag--disabled button {
  cursor: not-allowed;
}
.tag--disabled button:hover {
  cursor: not-allowed;
}
