.footer {
  --footer-max-width: inherit;

  width: 100%;
  background: var(--scl-color-black);
  color: var(--scl-color-white);
  padding: var(--scl-spacing-32) var(--scl-spacing-24) var(--scl-spacing-24)
    var(--scl-spacing-24);
  position: relative;
  bottom: 0;
  box-sizing: border-box;
}

.footer-container {
  background: var(--scl-color-background-standard, #fff);
}

.footer--variant-minimal .footer {
  border-top: var(--scl-spacing-1) solid var(--scl-color-grey-20);
  color: var(--scl-color-grey-60);
  background: var(--scl-color-background-standard);
  padding: var(--scl-spacing-24);
}

.footer-mask {
  height: var(--scl-spacing-8);
  position: relative;
  top: var(--scl-spacing-8);
  background: var(--scl-color-background-standard, #fff);
  z-index: 1;
  border-radius: 0 0 var(--scl-spacing-8) var(--scl-spacing-8);
}

.footer--variant-angular .footer-mask,
.footer--variant-minimal .footer-mask {
  display: none;
}

.footer-branding .logo svg {
  width: auto;
  height: var(--scl-spacing-24);
}

.footer-copyright {
  font-size: var(--scl-font-size-14);
}

.footer-navigation a {
  color: var(--scl-color-white);
  text-decoration: none;
}

.footer--variant-minimal .footer-navigation a {
  color: var(--scl-color-grey-60);
}

.footer-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: var(--scl-font-size-14);
  font-family: var(--scl-font-family-sans);
  font-weight: var(--scl-font-weight-extrabold);
}
.footer--variant-minimal .footer-navigation ul {
  font-weight: var(--scl-font-weight-medium);
}

.footer-navigation li a {
  display: flex;
  align-items: center;
  padding: var(--scl-spacing-8);
  margin: calc(-1 * var(--scl-spacing-8)) 0;
}
.footer-navigation li span {
  padding: var(--scl-spacing-4) 0;
}

.footer-navigation li a:hover {
  color: var(--scl-color-white);
}
.footer--variant-minimal .footer-navigation li a:hover {
  color: var(--scl-color-primary-hover);
}

.footer--variant-minimal .footer-navigation li a:hover span {
  border-bottom: 1px solid transparent;
  margin-bottom: -1px;
}

.footer--variant-angular .footer-navigation li a:hover span,
.footer--variant-standard .footer-navigation li a:hover span {
  border-bottom: 1px solid var(--scl-color-white);
  margin-bottom: -1px;
}

.footer-navigation li a:active {
  color: var(--scl-color-primary-active, #cb0068);
}

.footer--variant-minimal .footer-navigation li a:active span {
  border-bottom: 1px solid transparent;
  margin-bottom: -1px;
}

.footer--variant-angular .footer-navigation li a:active span,
.footer--variant-standard .footer-navigation li a:active span {
  border-bottom: 1px solid var(--scl-color-primary-active, #cb0068);
  margin-bottom: -1px;
}

.footer-navigation li a:active:focus {
  color: var(--scl-color-primary-active, #cb0068);
  box-shadow: none;
}

.footer-navigation li a:focus {
  outline: none;
  box-shadow: 0 0 0 var(--scl-spacing-2) var(--scl-color-primary);
  border-radius: var(--scl-radius-4);
}

.footer-navigation svg {
  width: auto;
  height: var(--scl-spacing-16);
  margin-right: var(--scl-spacing-8);
}

.footer--variant-minimal .footer-copyright {
  justify-content: flex-start;
}

.footer--variant-minimal .footer-branding {
  display: none;
}

.footer--variant-minimal .footer-content {
  grid-template-areas: 'copyright navigation navigation';
}

@media (max-width: 639px) {
  .footer-branding {
    margin-bottom: var(--scl-spacing-24);
  }
  .footer-copyright {
    margin-bottom: var(--scl-spacing-16);
  }
  .footer-navigation ul {
    line-height: var(--scl-spacing-32);
  }
  .footer-navigation li a {
    padding: var(--scl-spacing-4);
    margin: calc(-1 * var(--scl-spacing-8)) calc(-1 * var(--scl-spacing-4));
  }
}

@media (min-width: 640px) {
  .footer-branding {
    grid-area: branding;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .footer-copyright {
    grid-area: copyright;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-navigation {
    grid-area: navigation;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .footer-navigation ul {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 640px) and (max-width: 1295px) {
  .footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    grid-template-areas:
      'branding ....... .......'
      'copyright navigation navigation';
  }

  .footer-branding {
    margin-bottom: var(--scl-spacing-24);
  }
  .footer-copyright {
    justify-content: flex-start;
  }
}

@media (min-width: 1296px) {
  .footer-content {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-template-areas: 'branding copyright navigation';
  }
}

@media (min-width: 1552px) {
  .footer-content {
    margin: 0 auto;
    max-width: var(--footer-max-width);
  }
}
