.footer {
  width: 100%;
  background: #262626;
  color: #ffffff;
  padding: 32px 24px 24px 24px;
  position: relative;
  bottom: 0;
  box-sizing: border-box;
}

.footer-mask {
  height: 8px;
  position: relative;
  top: 8px;
  background: white;
  z-index: 1;
  border-radius: 0 0 8px 8px;
}

.footer-branding .logo svg {
  width: auto;
  height: 26px;
}

.footer-copyright {
  font-size: 14px;
}

.footer-navigation a {
  color: #fff;
  text-decoration: none;
}

.footer-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  font-family: TeleNeoWeb;
  font-weight: 800;
}

.footer-navigation li a {
  display: flex;
  align-items: center;
}

.footer-navigation li a:hover {
  text-decoration: underline;
}

.footer-navigation svg {
  width: auto;
  height: 16px;
  margin-right: 8px;
}

@media (max-width: 639px) {
  .footer-branding {
    margin-bottom: 24px;
  }
  .footer-copyright {
    margin-bottom: 16px;
  }
  .footer-navigation ul {
    line-height: 32px;
  }
}

@media (min-width: 640px) {
  .footer-branding {
    grid-area: branding;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .footer-copyright {
    grid-area: copyright;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-navigation {
    grid-area: navigation;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .footer-navigation ul {
    display: flex;
    align-items: center;
  }

  .footer-navigation li {
    margin-left: 18px;
  }
}

@media (min-width: 640px) and (max-width: 1295px) {
  .footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    grid-template-areas:
      'branding ....... .......'
      'copyright navigation navigation';
  }
  .footer-branding {
    margin-bottom: 24px;
  }
  .footer-copyright {
    justify-content: flex-start;
  }
}

@media (min-width: 1296px) {
  .footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    grid-template-areas: 'branding copyright navigation';
  }
}
