@keyframes keyframes-slideUp {
  from {
    top: 0;
  }
  to {
    top: -56px;
  }
}
.header {
  width: 100%;
  z-index: 99;
  position: fixed;
  background: #e20074;
  font-weight: 400;
}
.header .header__brand {
  color: #fff;
  display: flex;
  background: #e20074;
  align-items: center;
}
.header .header__nav {
  box-sizing: border-box;
  color: #333;
  display: flex;
  background: #fff;
  align-items: center;
  border-top-left-radius: var(--header-border-radius);
  border-top-right-radius: var(--header-border-radius);
  border-bottom: 1px solid transparent;
}
.header.menu--open .header__nav,
.header.sticky .header__nav {
  border-bottom: 1px solid #dfdfdf;
}
.header .header__nav-content {
  width: 100%;
  display: flex;
  align-items: center;
}
.header .header__nav-menu-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header.sticky .header__nav-before,
.header.sticky .header__nav-after,
.header.menu--open .header__nav-before,
.header.menu--open .header__nav-after {
  width: var(--header-border-radius);
  bottom: calc(-2 * var(--header-border-radius));
  height: calc(2 * var(--header-border-radius));
  position: absolute;
  border-top: 1px solid #dfdfdf;
  box-shadow: 0 calc(-1 * var(--header-border-radius)) 0 0 #fff;
  background-color: transparent;
}
.header.menu--open .header__nav-before,
.header.sticky .header__nav-before {
  left: -1px;
  z-index: 97;
  border-left: 1px solid #dfdfdf;
  border-top-left-radius: var(--header-border-radius);
}
.header.menu--open .header__nav-after,
.header.sticky .header__nav-after {
  right: -1px;
  z-index: 98;
  border-right: 1px solid #dfdfdf;
  border-top-right-radius: var(--header-border-radius);
}
.header *[slot='menu-icon'],
.header .meta-navigation {
  display: flex;
  padding: 0;
  list-style: none;
  align-items: center;
}
@media (max-width: 1023px) {
  .header {
    height: var(--header-nav-height);
  }
  .header.sticky .header__nav-before {
    top: 51px;
  }
  .header.sticky .header__nav-after {
    top: 51px;
  }

  .header .sector-navigation,
  .header .addon-navigation,
  .header *[slot='menu-main'],
  .header .main-navigation {
    display: none !important;
  }
  .header .header__brand {
    width: 100%;
    height: var(--header-nav-height);
    display: flex;
    padding: 0 16px;
    z-index: 96;
    position: absolute;
    transition: height var(--header-transition-speed) ease-in-out;
    align-items: center;
    animation-name: keyframes-slideUp;
    animation-delay: 0.5s;
    justify-content: space-between;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.42, 0, 0.1, 1);
  }
  .header .header__nav {
    top: 4px;
    width: 100%;
    height: calc(var(--header-nav-height) - 4px);
    padding: 0 16px;
    z-index: 95;
    position: absolute;
  }
  .header .header__nav__mobile-menu {
    top: var(--header-nav-height);
    width: 100%;
    display: none;
    position: relative;
  }
  .header .header__nav__mobile-menu--opened {
    height: calc(100vh - var(--header-nav-height));
    display: block;
    overflow-y: auto;
    background: #fff;
  }

  .header .header__brand .header__brand-before,
  .header .header__brand .header__brand-after {
    width: var(--header-border-radius);
    bottom: calc(-2 * var(--header-border-radius));
    height: calc(2 * var(--header-border-radius));
    position: absolute;
    border-top: transparent;
    box-shadow: 0 calc(-1 * var(--header-border-radius)) 0 0 #e20074;
    background-color: transparent;
  }
  .header .header__brand .header__brand-before {
    left: -1px;
    z-index: 97;
    border-left: transparent;
    border-top-left-radius: var(--header-border-radius);
  }
  .header .header__brand .header__brand-after {
    right: -1px;
    z-index: 98;
    border-right: transparent;
    border-top-right-radius: var(--header-border-radius);
  }
  .header .header__brand .logo svg {
    width: auto;
    height: 26px;
  }
}
.header .header__nav .header__nav-logo svg path {
  fill: #e20074 !important;
}
@media (min-width: 1024px) {
  .header .header__nav-before {
    top: 55px;
  }
  .header .header__nav-after {
    top: 55px;
  }
  .header .mobile-menu,
  .header .header__nav__mobile-menu {
    display: none;
  }
  .header .header__brand {
    height: var(--header-brand-height);
    padding: 0 24px;
    transition: height var(--header-transition-speed) ease-in-out;
    justify-content: space-between;
  }
  .header .header__brand-content {
    top: 0;
    width: 100%;
    display: flex;
    opacity: 1;
    position: relative;
    transition: opacity var(--header-transition-speed) ease-in-out,
      top var(--header-transition-speed) ease-in-out;
    align-items: center;
  }
  .header .header__nav {
    height: var(--header-nav-height);
    padding: 0 24px;
    position: relative;
  }
  .header .header__nav-logo {
    width: 50px;
    opacity: 0;
    transition: opacity var(--header-transition-speed) ease-in-out;
    font-weight: bold;
    margin-right: 1rem;
    pointer-events: none;
  }
  .header.sticky .header__nav-logo {
    margin-right: 32px;
  }

  .header scale-nav-main:first-child li {
    padding-left: 0;
  }
  .header *[slot='menu-main'],
  .header .main-navigation {
    height: var(--header-nav-height);
    margin: 0;
    display: flex;
    padding: 0;
    list-style: none;
    transition: margin-left var(--header-transition-speed) ease-in-out;
    align-items: center;
    margin-left: calc(-50px - 1rem);
  }
  .header *[slot='menu-sector'],
  .header *[slot='menu-addon'],
  .header .sector-navigation {
    display: flex;
  }
  .header .addon-navigation {
    display: flex;
    list-style: none;
  }

  .header .sector-navigation .segment-navigation__item-link {
    margin: 0 7px;
  }

  .header .addon-navigation .segment-navigation__item-link {
    margin: 0 0 0 14px;
  }

  .header.sticky {
    --header-brand-height: 4px;
  }
  .header.sticky .header__nav-logo {
    opacity: 1;
    transition: opacity var(--header-transition-speed) ease-in-out;
  }
  .header.sticky .header__brand-content {
    top: 56px;
    opacity: 0;
    transition: opacity var(--header-transition-speed) ease-in-out,
      top var(--header-transition-speed) ease-in-out;
  }
  .header *[slot='menu-main'],
  .header.sticky .main-navigation {
    transition: margin-left var(--header-transition-speed) ease-in-out;
    margin-left: 0;
  }
  .header .sector-navigation .sector-navigation__portal-name {
    font-weight: 800;
    font-size: 1.25rem;
  }

  .header *[slot='menu-main'],
  scale-nav-main {
    height: 100%;
  }
  .header *[slot='logo'],
  .header .header__brand-content .header__brand-branding {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .header .header__brand-content .header__brand-sector {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header .header__brand-content .header__brand-meta {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .header .header__brand app-logo {
    margin-right: 1rem;
  }
}

@media (min-width: 1552px) {
  .header .header__nav-content,
  .header .header__brand-content {
    margin: 0 auto;
    max-width: var(--header-max-width);
  }
}
