.breadcrumb {
  margin-left: calc(-1 * var(--scl-spacing-8));
}

ol {
  display: flex;
  list-style: none;
  margin-top: 0;
  padding-left: 0;
  margin-bottom: 0;
}

li {
  display: inline-flex;
  font-size: var(--scl-spacing-14, 0.875rem);
  align-items: center;
}

.separator {
  display: flex;
  color: var(--scl-color-grey-60);
}

.item,
.link {
  padding: var(--scl-spacing-4) var(--scl-spacing-8);
}

.link {
  text-decoration: none;
  color: var(--scl-color-grey-60);
  border-radius: var(--scl-radius-8);
}

.link:hover {
  color: var(--scl-color-primary-hover, #f90984);
}

.link:active {
  color: var(--scl-color-primary-active, #cb0068);
}

.link:focus {
  outline: none;
  box-shadow: 0 0 0 var(--scl-spacing-2) var(--scl-color-focus);
}

.current {
  color: var(--scl-color-text-standard);
}
