@import '~@scaleds/design-tokens-telekom/dist/design-tokens-telekom.css';

:root {
  --scl-color-primary: #5300FF;
  --scl-color-primary-hue: 255;
  --scl-color-primary-hover: #7633FF;
  --scl-color-primary-active: #5E29CC;

  --scl-font-family-sans: sans-serif;
  --scl-font-variant-body-family: sans-serif;
  --scl-font-variant-body-short-family: sans-serif;
  --scl-font-variant-body-large-family: sans-serif;
  --scl-font-variant-smaller-family: sans-serif;
  --scl-font-variant-label-family: sans-serif;
  --scl-font-variant-caption-family: sans-serif;
  --scl-font-variant-heading-6-family: sans-serif;
  --scl-font-variant-heading-5-family: sans-serif;
  --scl-font-variant-heading-4-family: sans-serif;
  --scl-font-variant-heading-3-family: sans-serif;
  --scl-font-variant-heading-2-family: sans-serif;
  --scl-font-variant-heading-1-family: sans-serif;

  font-family: sans-serif;
}
