.collapsible {
  position: relative;
  margin: var(--scl-spacing-16) 0;
}

.collapsible--expanded:before {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  border: var(--scl-spacing-1) solid transparent;
  content: '';
  display: block;
  position: absolute;
  pointer-events: none;
  bottom: calc(-1 * var(--scl-spacing-16));
}

.collapsible__heading {
  margin: 0;
}

.collapsible__button {
  color: currentColor;
  width: 100%;
  display: flex;
  text-align: left;
  align-items: flex-start;
  padding-top: 0;
  border-color: transparent;
  border-style: solid;
  padding-right: 0;
  padding-bottom: 0;
  background-color: transparent;
  font-size: var(--scl-font-size-20);
  font-weight: var(--scl-font-weight-extrabold);
  line-height: var(--scl-font-line-height-125);
  border-width: var(--scl-spacing-2);
  border-radius: var(--scl-radius-4);
  padding-left: var(--scl-spacing-4);
  /* a11y: allows some "external" typographic styles to leak in
   https://www.w3.org/TR/WCAG21/#text-spacing */
  font-family: inherit;
  word-spacing: inherit;
  letter-spacing: inherit;
}

.collapsible__button > span {
  margin-left: var(--scl-spacing-8);
}

.collapsible__button:hover {
  cursor: pointer;
  color: var(--scl-color-primary);
  background-color: var(--scl-color-background-light);
}

.collapsible__button:active {
  color: var(--scl-color-primary-active, #cb0068);
}

.collapsible__button:focus {
  outline: none;
  border-color: var(--scl-color-focus);
}

.collapsible__icon {
  transform: rotate(0.75turn);
  flex-shrink: 0;
  margin-top: calc(var(--scl-spacing-4) + 1px);
}

.collapsible__button[aria-expanded='true'] .collapsible__icon {
  transform: none;
}

.collapsible__content {
  padding-right: var(--scl-spacing-48);
  padding-left: var(--scl-spacing-32);
  /* These should collapse with tags like p, that's what we want */
  margin-top: var(--scl-spacing-16);
  margin-bottom: var(--scl-spacing-24);
}
