:host {
  --font-weight: var(--scl-font-weight-medium);
  --color: var(--scl-color-text-link);
  --color-visited: var(--scl-color-text-link-visited);
  --color-hover: var(--scl-color-text-link-hover);
  --color-active: var(--scl-color-text-link-active);
  --border: var(--scl-spacing-1) solid currentColor;
  --border-focus: var(--scl-spacing-2) solid currentColor;
  --color-disabled: var(--scl-color-grey-50);
}

.link {
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-weight: var(--font-weight);
  color: var(--color);
  border-bottom: var(--border);
}

/* order is important */
.link:visited {
  color: var(--color-visited);
}
.link:hover {
  color: var(--color-hover);
}
.link:active {
  color: var(--color-active);
}
.link:focus:not(.link--disabled) {
  border-bottom: var(--border-focus);
}

.link__wrapper {
  display: inline-flex;
  align-items: center;
}

.link--block {
  display: block;
}

.link--disabled {
  cursor: not-allowed;
  color: var(--color-disabled);
}
.link--disabled:visited,
.link--disabled:hover,
.link--disabled:active {
  color: var(--color-disabled);
}
