.link {
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-weight: var(--type-weight-medium, 500);
  color: var(--color-link, #007db3);
  border-bottom: 1px solid currentColor;
}
.link:hover.link:not(.link--disabled) {
  color: var(--color-link-hover, #007db3);
}
.link:focus:not(.link--disabled) {
  border-bottom: var(--size-border-focus, 2px) solid currentColor;
}
.link:active.link:not(.link--disabled) {
  color: var(--color-link-active, #0070a0);
}
.link:visited.link:not(.link--disabled) {
  color: var(--color-link-visited, #0070a0);
}
.link__wrapper {
  display: inline-flex;
  align-items: center;
}
.link__wrapper > *:not(:first-child) {
  margin-inline-start: var(--spacing-char, 0.25rem);
}
.link--block {
  display: block;
}
.link--disabled {
  cursor: not-allowed;
  color: var(--color-disabled, #7c7c7c);
}
