.link {
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-weight: var(--scl-font-weight-medium);
  color: var(--scl-color-text-link);
  border-bottom: var(--scl-spacing-1) solid currentColor;
}
.link:hover.link:not(.link--disabled) {
  color: var(--scl-color-text-link-hover);
}
.link:focus:not(.link--disabled) {
  border-bottom: var(--scl-spacing-2) solid currentColor;
}
.link:active.link:not(.link--disabled) {
  color: var(--scl-color-text-link-active);
}
.link:visited.link:not(.link--disabled) {
  color: var(--scl-color-text-link-visited);
}
.link__wrapper {
  display: inline-flex;
  align-items: center;
}
.link__wrapper > *:not(:first-child) {
  margin-inline-start: var(--scl-spacing-4);
}
.link--block {
  display: block;
}
.link--disabled {
  cursor: not-allowed;
  color: var(--scl-color-grey-50);
}
