/**
 * @todo add variables and make sure names are correct for variables already present
 */

.sidebar-nav-collapsible {
  margin: 0;
  border-bottom-color: #e6e6e6;
  border-bottom-style: solid;
  border-bottom-width: 0;
}

.sidebar-nav-collapsible--condensed {
  border-bottom-width: 1px;
}

.sidebar-nav-collapsible__wrapper {
  border-bottom-color: #e6e6e6;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.sidebar-nav-collapsible--condensed .sidebar-nav-collapsible__wrapper {
  border-bottom-width: 0;
}

.sidebar-nav-collapsible__button {
  color: currentColor;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  text-align: left;
  align-items: center;
  padding-top: 1rem;
  padding-right: calc(0.5 * var(--spacing-indent));
  padding-bottom: 1rem;
  padding-left: var(--spacing-indent);
  justify-content: space-between;
  text-decoration: none;
  font-family: inherit;
  border-radius: 2px;
}

.sidebar-nav-collapsible__button:hover {
  color: #e20074;
}

.sidebar-nav-collapsible__button:active {
  color: #cb0068;
}

.sidebar-nav-collapsible__button:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px #009de0;
}

.sidebar-nav-collapsible--active .sidebar-nav-collapsible__button {
  position: relative;
  color: #e20074;
}

.sidebar-nav-collapsible--active .sidebar-nav-collapsible__button::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: var(--left-current-border, 0);
  width: 2px;
  height: 100%;
  background-color: #e20074;
}

:host([nesting-level='1']) .sidebar-nav-collapsible__button,
.sidebar-nav-collapsible--bold .sidebar-nav-collapsible__button {
  font-weight: var(--scale-type-weight-bold, 700);
}

:host([nesting-level='2']) .sidebar-nav-collapsible__button {
  padding-left: calc(var(--spacing-indent) + 0.75rem);
}

.sidebar-nav-collapsible__icon {
  transition: opacity 150ms;
}

[aria-expanded='true'] .sidebar-nav-collapsible__icon {
  transform: rotate(180deg);
}

@media (hover: hover) {
  [aria-expanded='false'] .sidebar-nav-collapsible__icon {
    opacity: var(--opacity-chevron, 1);
  }

  .sidebar-nav-collapsible__button:hover .sidebar-nav-collapsible__icon {
    opacity: 1;
  }

  .sidebar-nav-collapsible__button:focus .sidebar-nav-collapsible__icon {
    opacity: 1;
  }
}

.sidebar-nav-collapsible__list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom-width: 1px; /* ? */
}

.sidebar-nav-collapsible--condensed .sidebar-nav-collapsible__list {
  margin-top: 1em;
  margin-left: var(--spacing-indent);
  margin-bottom: 2em;
  border-left-color: #4b4b4b;
  border-left-style: solid;
  border-left-width: 0.0625rem;
}
