.card-border {
  /* a11y: add border for high contrast mode */
  border: 1px solid transparent;
}
.card {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  background: var(--scl-color-background-standard);
  transition: all var(--scl-motion-duration-fast)
    var(--scl-motion-easing-standard);
  border-radius: var(--scl-radius-8);
  box-shadow: var(--scl-shadow-level-1);
}

.card__body {
  padding: var(--scl-spacing-24);
}

.card__body ::slotted(*) {
  margin: 0;
}

.card--interactive {
  color: inherit;
  cursor: pointer;
  display: block;
  outline: none;
  text-decoration: none;
}

.card--interactive:hover {
  box-shadow: var(--scl-shadow-level-1-hover);
}

.card--interactive:focus {
  box-shadow: var(--scl-shadow-level-1-hover),
    0 0 0 var(--scl-spacing-2) var(--scl-color-focus);
}

.card--interactive:active {
  border: none;
  box-shadow: var(--scl-shadow-level-1-active);
}

.card--interactive .card__body ::slotted(*) {
  margin: 0;
}
