:root {
    /* SPACING */
    --scl-spacing-1: 0.0625rem;
    --scl-spacing-2: 0.125rem;
    --scl-spacing-4: 0.25rem;
    --scl-spacing-8: 0.5rem;
    --scl-spacing-12: 0.75rem;
    --scl-spacing-16: 1rem;
    --scl-spacing-24: 1.5rem;
    --scl-spacing-32: 2rem;
    --scl-spacing-40: 2.5rem;
    --scl-spacing-48: 3rem;
    --scl-spacing-64: 4rem;
    --scl-spacing-80: 5rem;
    /* FONT */
    --scl-font-family-sans: TeleNeoWeb, sans-serif;
    --scl-font-family-mono: monospace;
    --scl-font-size-10: 0.625rem;
    --scl-font-size-12: 0.75rem;
    --scl-font-size-16: 1rem;
    --scl-font-size-20: 1.25rem;
    --scl-font-size-24: 1.5rem;
    --scl-font-size-32: 2rem;
    --scl-font-size-40: 2.5rem;
    --scl-font-size-56: 3.5rem;
    --scl-font-weight-thin: 100;
    --scl-font-weight-regular: 400;
    --scl-font-weight-medium: 500;
    --scl-font-weight-bold: 700;
    --scl-font-weight-extrabold: 800;
    --scl-font-line-height-114: 114%;
    --scl-font-line-height-120: 120%;
    --scl-font-line-height-125: 125%;
    --scl-font-line-height-133: 133%;
    --scl-font-line-height-150: 150%;
    --scl-font-line-height-160: 160%;
    /* FONT-VARIANT */
    --scl-font-variant-body-family: TeleNeoWeb, sans-serif;
    --scl-font-variant-body-size: 1rem;
    --scl-font-variant-body-weight: 500;
    --scl-font-variant-body-line-height: 150%;
    --scl-font-variant-body-letter-spacing: normal;
    --scl-font-variant-body-short-family: TeleNeoWeb, sans-serif;
    --scl-font-variant-body-short-size: 1rem;
    --scl-font-variant-body-short-weight: 500;
    --scl-font-variant-body-short-line-height: 125%;
    --scl-font-variant-body-short-letter-spacing: normal;
    --scl-font-variant-body-large-family: TeleNeoWeb, sans-serif;
    --scl-font-variant-body-large-size: 1.25rem;
    --scl-font-variant-body-large-weight: 500;
    --scl-font-variant-body-large-line-height: 160%;
    --scl-font-variant-body-large-letter-spacing: normal;
    --scl-font-variant-label-family: TeleNeoWeb, sans-serif;
    --scl-font-variant-label-size: 0.75rem;
    --scl-font-variant-label-weight: 500;
    --scl-font-variant-label-line-height: 120%;
    --scl-font-variant-label-letter-spacing: normal;
    --scl-font-variant-label-smaller-family: TeleNeoWeb, sans-serif;
    --scl-font-variant-label-smaller-size: 0.625rem;
    --scl-font-variant-label-smaller-weight: 500;
    --scl-font-variant-label-smaller-line-height: 120%;
    --scl-font-variant-label-smaller-letter-spacing: normal;
    --scl-font-variant-caption-family: TeleNeoWeb, sans-serif;
    --scl-font-variant-caption-size: 0.75rem;
    --scl-font-variant-caption-weight: 500;
    --scl-font-variant-caption-line-height: 133%;
    --scl-font-variant-caption-letter-spacing: normal;
    --scl-font-variant-smaller-family: TeleNeoWeb, sans-serif;
    --scl-font-variant-smaller-size: 0.75rem;
    --scl-font-variant-smaller-weight: 500;
    --scl-font-variant-smaller-line-height: 125%;
    --scl-font-variant-smaller-letter-spacing: normal;
    --scl-font-variant-heading-6-family: TeleNeoWeb, sans-serif;
    --scl-font-variant-heading-6-size: 1rem;
    --scl-font-variant-heading-6-weight: 700;
    --scl-font-variant-heading-6-line-height: 133%;
    --scl-font-variant-heading-6-letter-spacing: normal;
    --scl-font-variant-heading-5-family: TeleNeoWeb, sans-serif;
    --scl-font-variant-heading-5-size: 1rem;
    --scl-font-variant-heading-5-weight: 800;
    --scl-font-variant-heading-5-line-height: 150%;
    --scl-font-variant-heading-5-letter-spacing: normal;
    --scl-font-variant-heading-4-family: TeleNeoWeb, sans-serif;
    --scl-font-variant-heading-4-size: 1.25rem;
    --scl-font-variant-heading-4-weight: 800;
    --scl-font-variant-heading-4-line-height: 120%;
    --scl-font-variant-heading-4-letter-spacing: normal;
    --scl-font-variant-heading-3-family: TeleNeoWeb, sans-serif;
    --scl-font-variant-heading-3-size: 1.5rem;
    --scl-font-variant-heading-3-weight: 800;
    --scl-font-variant-heading-3-line-height: 133%;
    --scl-font-variant-heading-3-letter-spacing: normal;
    --scl-font-variant-heading-2-family: TeleNeoWeb, sans-serif;
    --scl-font-variant-heading-2-size: 2rem;
    --scl-font-variant-heading-2-weight: 800;
    --scl-font-variant-heading-2-line-height: 125%;
    --scl-font-variant-heading-2-letter-spacing: normal;
    --scl-font-variant-heading-1-family: TeleNeoWeb, sans-serif;
    --scl-font-variant-heading-1-size: 2.5rem;
    --scl-font-variant-heading-1-weight: 800;
    --scl-font-variant-heading-1-line-height: 120%;
    --scl-font-variant-heading-1-letter-spacing: normal;
    /* COLOR */
    --scl-color-primary: rgb(226, 0, 116);
    --scl-color-primary-hover: rgb(249, 9, 132);
    --scl-color-primary-active: rgb(203, 0, 104);
    --scl-color-focus: rgb(61, 140, 255);
    --scl-color-magenta: rgb(226, 0, 116);
    --scl-color-black: rgb(26, 26, 26);
    --scl-color-white: rgb(255, 255, 255);
    --scl-color-grey: rgb(102, 102, 102);
    --scl-color-grey-0: rgb(242, 242, 242);
    --scl-color-grey-10: rgb(230, 230, 230);
    --scl-color-grey-20: rgb(204, 204, 204);
    --scl-color-grey-30: rgb(179, 179, 179);
    --scl-color-grey-40: rgb(153, 153, 153);
    --scl-color-grey-50: rgb(128, 128, 128);
    --scl-color-grey-60: rgb(102, 102, 102);
    --scl-color-grey-70: rgb(77, 77, 77);
    --scl-color-grey-80: rgb(51, 51, 51);
    --scl-color-grey-90: rgb(26, 26, 26);
    --scl-color-orange: rgb(252, 154, 85);
    --scl-color-orange-0: rgb(255, 252, 223);
    --scl-color-orange-10: rgb(255, 244, 198);
    --scl-color-orange-20: rgb(255, 233, 174);
    --scl-color-orange-30: rgb(255, 218, 151);
    --scl-color-orange-40: rgb(255, 199, 128);
    --scl-color-orange-50: rgb(255, 178, 106);
    --scl-color-orange-60: rgb(252, 154, 85);
    --scl-color-orange-70: rgb(223, 109, 63);
    --scl-color-orange-80: rgb(174, 70, 28);
    --scl-color-orange-90: rgb(151, 50, 9);
    --scl-color-orange-100: rgb(125, 31, 9);
    --scl-color-red: rgb(216, 42, 72);
    --scl-color-red-0: rgb(255, 197, 203);
    --scl-color-red-10: rgb(255, 170, 182);
    --scl-color-red-20: rgb(254, 148, 165);
    --scl-color-red-30: rgb(249, 128, 147);
    --scl-color-red-40: rgb(243, 106, 128);
    --scl-color-red-50: rgb(239, 85, 110);
    --scl-color-red-60: rgb(237, 66, 91);
    --scl-color-red-70: rgb(216, 42, 72);
    --scl-color-red-80: rgb(195, 28, 59);
    --scl-color-red-90: rgb(173, 15, 49);
    --scl-color-red-100: rgb(153, 0, 36);
    --scl-color-blue: rgb(33, 107, 255);
    --scl-color-blue-0: rgb(214, 248, 255);
    --scl-color-blue-10: rgb(181, 235, 255);
    --scl-color-blue-20: rgb(149, 218, 255);
    --scl-color-blue-30: rgb(119, 196, 255);
    --scl-color-blue-40: rgb(89, 170, 255);
    --scl-color-blue-50: rgb(61, 140, 255);
    --scl-color-blue-60: rgb(33, 107, 255);
    --scl-color-blue-70: rgb(13, 57, 223);
    --scl-color-blue-80: rgb(0, 11, 191);
    --scl-color-blue-90: rgb(3, 0, 159);
    --scl-color-blue-100: rgb(20, 0, 128);
    --scl-color-teal: rgb(34, 173, 185);
    --scl-color-teal-0: rgb(215, 246, 244);
    --scl-color-teal-10: rgb(183, 237, 236);
    --scl-color-teal-20: rgb(152, 228, 228);
    --scl-color-teal-30: rgb(121, 217, 219);
    --scl-color-teal-40: rgb(92, 204, 208);
    --scl-color-teal-50: rgb(62, 189, 197);
    --scl-color-teal-60: rgb(34, 173, 185);
    --scl-color-teal-70: rgb(18, 156, 163);
    --scl-color-teal-80: rgb(6, 135, 136);
    --scl-color-teal-90: rgb(0, 105, 103);
    --scl-color-teal-100: rgb(0, 86, 81);
    --scl-color-green: rgb(24, 116, 49);
    --scl-color-green-0: rgb(240, 247, 224);
    --scl-color-green-10: rgb(224, 239, 199);
    --scl-color-green-20: rgb(207, 232, 175);
    --scl-color-green-30: rgb(187, 223, 152);
    --scl-color-green-40: rgb(164, 214, 129);
    --scl-color-green-50: rgb(141, 205, 106);
    --scl-color-green-60: rgb(115, 195, 84);
    --scl-color-green-70: rgb(82, 179, 66);
    --scl-color-green-80: rgb(50, 160, 50);
    --scl-color-green-90: rgb(36, 139, 49);
    --scl-color-green-100: rgb(24, 116, 49);
    --scl-color-clay: rgb(210, 164, 131);
    --scl-color-clay-0: rgb(242, 228, 223);
    --scl-color-clay-10: rgb(237, 216, 206);
    --scl-color-clay-20: rgb(233, 205, 190);
    --scl-color-clay-30: rgb(227, 194, 175);
    --scl-color-clay-40: rgb(222, 183, 160);
    --scl-color-clay-50: rgb(217, 173, 146);
    --scl-color-clay-60: rgb(210, 164, 131);
    --scl-color-clay-70: rgb(187, 140, 111);
    --scl-color-clay-80: rgb(163, 118, 93);
    --scl-color-clay-90: rgb(135, 96, 78);
    --scl-color-clay-100: rgb(106, 77, 64);
    --scl-color-rose: rgb(193, 111, 129);
    --scl-color-rose-0: rgb(246, 229, 235);
    --scl-color-rose-10: rgb(238, 209, 218);
    --scl-color-rose-20: rgb(230, 188, 201);
    --scl-color-rose-30: rgb(221, 168, 184);
    --scl-color-rose-40: rgb(212, 149, 166);
    --scl-color-rose-50: rgb(203, 130, 147);
    --scl-color-rose-60: rgb(193, 111, 129);
    --scl-color-rose-70: rgb(165, 86, 106);
    --scl-color-rose-80: rgb(134, 64, 84);
    --scl-color-rose-90: rgb(101, 43, 62);
    --scl-color-rose-100: rgb(81, 31, 49);
    --scl-color-lilac: rgb(182, 130, 189);
    --scl-color-lilac-0: rgb(247, 239, 246);
    --scl-color-lilac-10: rgb(239, 227, 237);
    --scl-color-lilac-20: rgb(234, 217, 231);
    --scl-color-lilac-30: rgb(228, 204, 224);
    --scl-color-lilac-40: rgb(213, 180, 213);
    --scl-color-lilac-50: rgb(197, 155, 202);
    --scl-color-lilac-60: rgb(182, 130, 189);
    --scl-color-lilac-70: rgb(158, 107, 165);
    --scl-color-lilac-80: rgb(132, 85, 138);
    --scl-color-lilac-90: rgb(106, 62, 113);
    --scl-color-lilac-100: rgb(80, 40, 87);
    --scl-color-pigeon: rgb(130, 138, 196);
    --scl-color-pigeon-0: rgb(233, 236, 246);
    --scl-color-pigeon-10: rgb(215, 220, 239);
    --scl-color-pigeon-20: rgb(197, 204, 231);
    --scl-color-pigeon-30: rgb(180, 188, 222);
    --scl-color-pigeon-40: rgb(163, 171, 214);
    --scl-color-pigeon-50: rgb(146, 155, 205);
    --scl-color-pigeon-60: rgb(130, 138, 196);
    --scl-color-pigeon-70: rgb(109, 110, 176);
    --scl-color-pigeon-80: rgb(95, 90, 155);
    --scl-color-pigeon-90: rgb(83, 71, 133);
    --scl-color-pigeon-100: rgb(70, 54, 109);
    --scl-color-neptune: rgb(119, 182, 187);
    --scl-color-neptune-0: rgb(222, 237, 236);
    --scl-color-neptune-10: rgb(205, 229, 229);
    --scl-color-neptune-20: rgb(187, 222, 221);
    --scl-color-neptune-30: rgb(169, 213, 213);
    --scl-color-neptune-40: rgb(152, 203, 205);
    --scl-color-neptune-50: rgb(136, 192, 196);
    --scl-color-neptune-60: rgb(119, 182, 187);
    --scl-color-neptune-70: rgb(102, 165, 168);
    --scl-color-neptune-80: rgb(87, 146, 146);
    --scl-color-neptune-90: rgb(74, 123, 122);
    --scl-color-neptune-100: rgb(63, 97, 96);
    --scl-color-olive: rgb(136, 177, 121);
    --scl-color-olive-0: rgb(236, 243, 231);
    --scl-color-olive-10: rgb(220, 232, 212);
    --scl-color-olive-20: rgb(204, 222, 194);
    --scl-color-olive-30: rgb(187, 211, 175);
    --scl-color-olive-40: rgb(170, 200, 157);
    --scl-color-olive-50: rgb(153, 189, 139);
    --scl-color-olive-60: rgb(136, 177, 121);
    --scl-color-olive-70: rgb(112, 150, 96);
    --scl-color-olive-80: rgb(89, 121, 73);
    --scl-color-olive-90: rgb(66, 91, 51);
    --scl-color-olive-100: rgb(49, 71, 36);
    --scl-color-text-default: rgb(26, 26, 26);
    --scl-color-text-offset: rgb(255, 255, 255);
    --scl-color-text-muted: rgb(102, 102, 102);
    --scl-color-text-link: rgb(13, 57, 223);
    --scl-color-text-link-hover: rgb(0, 11, 191);
    --scl-color-text-link-active: rgb(33, 107, 255);
    --scl-color-text-link-visited: rgb(33, 107, 255);
    --scl-color-text-error: rgb(195, 28, 59);
    --scl-color-background-default: rgb(255, 255, 255);
    --scl-color-background-light: rgb(242, 242, 242);
    --scl-color-background-darker: rgb(204, 204, 204);
    --scl-color-background-disabled: rgb(204, 204, 204);
    --scl-color-background-error: rgb(216, 42, 72);
    --scl-color-background-success: rgb(24, 116, 49);
    --scl-color-background-pending: rgb(252, 154, 85);
    /* SHADOW */
    --scl-shadow-level-0: 0px 2px 8px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    --scl-shadow-level-1: 0px 4px 16px 0px rgba(0, 0, 0, 0.1), 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    --scl-shadow-level-2: 0px 8px 32px 0px rgba(0, 0, 0, 0.1), 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
    --scl-shadow-level-3: 0px 12px 48px 0px rgba(0, 0, 0, 0.1), 0px 6px 12px 0px rgba(0, 0, 0, 0.1);
    --scl-shadow-level-4: 0px 16px 64px 0px rgba(0, 0, 0, 0.1), 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    --scl-shadow-level-5: 0px 20px 80px 0px rgba(0, 0, 0, 0.1), 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    --scl-shadow-level-1-hover: 0px 6px 24px 0px rgba(0, 0, 0, 0.1), 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
    --scl-shadow-level-1-active: 0px 2px 8px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    --scl-shadow-level-2-hover: 0px 10px 40px 0px rgba(0, 0, 0, 0.1), 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    --scl-shadow-level-2-active: 0px 6px 24px 0px rgba(0, 0, 0, 0.1), 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
    --scl-shadow-level-3-hover: 0px 14px 56px 0px rgba(0, 0, 0, 0.1), 0px 7px 14px 0px rgba(0, 0, 0, 0.1);
    --scl-shadow-level-3-active: 0px 10px 40px 0px rgba(0, 0, 0, 0.1), 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    --scl-shadow-level-4-hover: 0px 18px 72px 0px rgba(0, 0, 0, 0.1), 0px 9px 18px 0px rgba(0, 0, 0, 0.1);
    --scl-shadow-level-4-active: 0px 14px 56px 0px rgba(0, 0, 0, 0.1), 0px 7px 14px 0px rgba(0, 0, 0, 0.1);
    --scl-shadow-level-5-hover: 0px 22px 88px 0px rgba(0, 0, 0, 0.1), 0px 11px 22px 0px rgba(0, 0, 0, 0.1);
    --scl-shadow-level-5-active: 0px 18px 72px 0px rgba(0, 0, 0, 0.1), 0px 9px 18px 0px rgba(0, 0, 0, 0.1);
    /* RADIUS */
    --scl-radius-1: 1px;
    --scl-radius-2: 2px;
    --scl-radius-4: 4px;
    --scl-radius-8: 8px;
    /* OPACITY */
    --scl-opacity-50: 0.5;
    /* MOTION */
    --scl-motion-duration-immediate: 100ms;
    --scl-motion-duration-fast: 200ms;
    --scl-motion-duration-slower: 600ms;
    --scl-motion-duration-deliberate: 800ms;
    --scl-motion-easing-default: cubic-bezier(0.42, 0, 0.58, 1);
    --scl-motion-easing-enter: cubic-bezier(0.390, 0.575, 0.565, 1);
    /* Z-INDEX */
    --scl-z-index-10: 10;
    --scl-z-index-20: 20;
    --scl-z-index-30: 30;
    --scl-z-index-40: 40;
    --scl-z-index-50: 50;
    --scl-z-index-60: 60;
    --scl-z-index-70: 70
}