.modal {
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  display: none;
  z-index: 100;
  position: fixed;
  background: rgba(108, 108, 108, 0.7);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  padding-left: var(--spacing-4, 1rem);
  padding-right: var(--spacing-4, 1rem);
}

.modal.modal--is-open {
  display: flex;
}

.modal__backdrop {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
}

.modal__window {
  width: 100%;
  height: auto;
  display: flex;
  z-index: 1;
  position: relative;
  overflow-y: auto;
  flex-direction: column;
  background-color: white;
  max-height: calc(100vh - (2 * var(--spacing-9, 5rem)));
  border-radius: var(--radius-modal, 0.5rem);
  box-shadow: var(
    --shadow-modal,
    0 20px 80px 0 rgba(0, 0, 0, 0.1),
    0 10px 20px 0 rgba(0, 0, 0, 0.1)
  );
}

.modal__window .modal__body-wrapper {
  overflow-y: auto;
  flex-shrink: 1;
}

.modal--size-small .modal__window {
  max-width: calc(
    (6 * var(--column-width, 56px)) + (5 * var(--spacing-gutter, 2rem))
  );
}

.modal--size-default .modal__window {
  max-width: calc(
    (8 * var(--column-width, 56px)) + (7 * var(--spacing-gutter, 2rem))
  );
}

.modal--size-large .modal__window {
  max-width: calc(
    (12 * var(--column-width, 56px)) + (11 * var(--spacing-gutter, 2rem))
  );
}

@media (max-height: 30em) {
  .modal__window {
    max-height: calc(100vh - (2 * var(--spacing-4, 1rem)));
  }
}

.modal__window:after {
  top: 0;
  left: 0;
  width: 100%;
  border: 1px solid transparent;
  height: 100%;
  content: '';
  display: block;
  position: absolute;
  box-sizing: border-box;
  pointer-events: none;
  border-radius: var(--radius-modal, 0.5rem);
}

.modal__header {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
  margin-left: var(--spacing-5, 1.5rem);
  margin-right: var(--spacing-5, 1.5rem);
  padding-top: var(--spacing-5, 1.5rem);
  padding-bottom: var(--spacing-5, 1.5rem);
}

.modal--has-scroll .modal__header {
  border-bottom: var(--divider-size, 1px) solid var(--color-divider, #d0d0d0);
}

.modal__heading {
  margin: 0;
  font-family: var(--type-family, TeleNeoWeb);
  font-size: var(--type-size, 1.25rem);
  font-weight: var(--type-weight-extra-bold, 800);
}

.modal__close-button {
  border: 0;
  cursor: pointer;
  display: inline-flex;
  outline: none;
  background: transparent;
  box-sizing: border-box;
  align-items: center;
  -moz-appearance: none;
  justify-content: center;
  -moz-user-select: none;
  border-radius: var(--radius-modal, 0.5rem);
  transition: var(--transition-generic, all 0.2s ease-in-out);
  padding: var(--spacing-2, 0.5rem);
  margin-bottom: calc(-2 * var(--spacing-2, 0.5rem));
  transform: translate(
    var(--spacing-2, 0.5rem),
    calc(-1 * var(--spacing-2, 0.5rem))
  );
}

.modal__close-button:focus {
  box-shadow: 0 0 0 var(--size-border-focus, 2px) var(--color-focus, #009de0);
}

.modal__close-button:hover {
  color: var(--color-primary-hover, #f90984);
}

.modal__close-button:active {
  color: var(--color-primary-active, #cb0068);
}

.modal__body-wrapper {
  padding-left: var(--spacing-5, 1.5rem);
  padding-right: var(--spacing-5, 1.5rem);
}

.modal--has-body .modal__body-wrapper {
  min-height: 3rem;
}

.modal--has-body .modal__body {
  margin-top: var(--spacing-5, 1.5rem);
  margin-bottom: var(--spacing-5, 1.5rem);
}

.modal__actions {
  display: none;
  flex-shrink: 0;
  justify-content: flex-end;
  padding: var(--spacing-5, 1.5rem);
}

.modal__actions ::slotted(*) {
  margin-left: var(--spacing-2, 0.5rem);
}

.modal--has-actions .modal__actions {
  display: flex;
}

.modal--align-actions-left .modal__actions {
  justify-content: flex-start;
}

.modal--has-scroll .modal__actions {
  background-color: var(--background-light, #f4f4f4);
}
