.modal {
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  display: none;
  z-index: 100;
  position: fixed;
  background: var(--scl-color-background-overlay, rgba(108, 108, 108, 0.7));
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  padding-left: var(--scl-spacing-16);
  padding-right: var(--scl-spacing-16);
}

.modal.modal--is-open {
  display: flex;
}

.modal__backdrop {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
}

.modal__window {
  width: 100%;
  height: auto;
  display: flex;
  z-index: 1;
  position: relative;
  overflow-y: auto;
  flex-direction: column;
  background-color: white;
  max-height: calc(100vh - (2 * var(--scl-spacing-80)));
  border-radius: var(--scl-radius-8);
  box-shadow: var(--scl-shadow-level-5);
}

.modal__window .modal__body-wrapper {
  overflow-y: auto;
  flex-shrink: 1;
}

/*
  we're rudimentarily creating a grid here
  in the following modal--size-*,
  with 6, 8 and 12 columns
*/

.modal--size-small .modal__window {
  max-width: calc(
    (6 * var(--scl-spacing-56, 3.5rem)) + (5 * var(--scl-spacing-32))
  );
}

.modal--size-default .modal__window {
  max-width: calc(
    (8 * var(--scl-spacing-56, 3.5rem)) + (7 * var(--scl-spacing-32))
  );
}

.modal--size-large .modal__window {
  max-width: calc(
    (12 * var(--scl-spacing-56, 3.5rem)) + (11 * var(--scl-spacing-32))
  );
}

@media (max-height: 30em) {
  .modal__window {
    max-height: calc(100vh - var(--scl-spacing-24));
  }
}

/* a11y: transparent border for Windows HCM */
.modal__window:after {
  top: 0;
  left: 0;
  width: 100%;
  border: 1px solid transparent;
  height: 100%;
  content: '';
  display: block;
  position: absolute;
  box-sizing: border-box;
  pointer-events: none;
  border-radius: var(--scl-radius-8);
}

.modal__header {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
  margin-left: var(--scl-spacing-24);
  margin-right: var(--scl-spacing-24);
  padding-top: var(--scl-spacing-24);
  padding-bottom: var(--scl-spacing-24);
}

.modal--has-scroll .modal__header {
  border-bottom: var(--scl-spacing-1) solid var(--scl-color-grey-20);
}

.modal__heading {
  margin: 0;
  font-family: var(--scl-font-family-sans);
  font-size: var(--scl-font-size-20);
  font-weight: var(--scl-font-weight-extrabold);
}

.modal__close-button {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--scl-spacing-8);
  margin-bottom: calc(-2 * var(--scl-spacing-8));
  border: 0;
  border-radius: var(--scl-radius-8);
  outline: none;
  background: transparent;
  transition: all var(--scl-motion-duration-fast)
    var(--scl-motion-easing-standard);
  transform: translate(var(--scl-spacing-8), calc(-1 * var(--scl-spacing-8)));
  appearance: none;
  cursor: pointer;
  user-select: none;
}

.modal__close-button:focus {
  box-shadow: 0 0 0 var(--scl-spacing-2) var(--scl-color-focus);
}

.modal__close-button:hover {
  color: var(--scl-color-primary-hover, #f90984);
}

.modal__close-button:active {
  color: var(--scl-color-primary-active, #cb0068);
}

.modal__body-wrapper {
  padding-left: var(--scl-spacing-24);
  padding-right: var(--scl-spacing-24);
}

.modal--has-body .modal__body-wrapper {
  min-height: var(--scl-spacing-48);
}

.modal--has-body .modal__body {
  margin-top: var(--scl-spacing-24);
  margin-bottom: var(--scl-spacing-24);
}

.modal__actions {
  display: none;
  flex-shrink: 0;
  justify-content: flex-end;
  padding: var(--scl-spacing-24);
}

.modal__actions ::slotted(*) {
  margin-left: var(--scl-spacing-8);
}

.modal--has-actions .modal__actions {
  display: flex;
}

.modal--align-actions-left .modal__actions {
  justify-content: flex-start;
}

.modal--has-scroll .modal__actions {
  background-color: var(--scl-color-background-light);
}
