.input {
  position: relative;
}
.input .input__helper-text,
.input .input__counter {
  font-weight: var(--scl-font-weight-bold);
}

.input .input__textarea {
  width: 100%;
  margin: 0;
  resize: vertical;
  display: flex;
  outline: none;
  padding: var(--scl-spacing-12) var(--scl-spacing-12);
  padding-top: var(--scl-spacing-24);
  z-index: 1;
  box-sizing: border-box;
  transition: all var(--scl-motion-duration-fast)
    var(--scl-motion-easing-standard);
  font-family: inherit;
  font-size: var(--scl-font-size-16);
  border-radius: var(--scl-radius-4);
  border: var(--scl-spacing-1) solid var(--scl-color-text-standard);
}
.input .input__counter {
  display: flex;
  transition: all var(--scl-motion-duration-fast)
    var(--scl-motion-easing-standard);
  margin-left: auto;
  padding-right: var(--scl-spacing-12);
  justify-content: flex-end;
  font-size: var(--scl-font-size-12);
  line-height: var(--scl-font-line-height-133);
  color: var(--scl-color-text-standard);
}
.input .input__helper-text {
  transition: all var(--scl-motion-duration-fast)
    var(--scl-motion-easing-standard);
  padding-left: var(--scl-spacing-12);
  font-size: var(--scl-font-size-12);
  line-height: var(--scl-font-line-height-133);
  color: var(--scl-color-blue-70);
}
.input .input__meta {
  display: flex;
  justify-content: space-between;
  margin-top: var(--scl-spacing-4);
}
.input:not(.input--disabled) .input__textarea:hover,
.input:not(.input--disabled) .input__textarea:focus {
  border-color: var(--scl-color-primary-hover, #f90984);
}
.input:not(.input--disabled) .input__textarea:focus {
  box-shadow: 0 0 0 var(--scl-spacing-2) var(--scl-color-focus);
}
.input:not(.input--disabled) .input__textarea:focus::placeholder {
  color: var(--scl-color-grey-60);
  transition: all var(--scl-motion-duration-fast)
    var(--scl-motion-easing-standard);
}
.input .input__textarea::placeholder,
.input ::placeholder {
  color: transparent;
  transition: all var(--scl-motion-duration-fast)
    var(--scl-motion-easing-standard);
}

.input__label {
  top: 0;
  left: 0;
  color: var(--scl-color-grey-60);
  display: flex;
  z-index: var(--scl-z-index-10);
  position: absolute;
  transition: all var(--scl-motion-duration-fast)
    var(--scl-motion-easing-standard);
  pointer-events: none;
  font-size: var(--scl-font-size-16);
  /* previously: transform: translate(13px, calc((48px - 1rem) / 2)); */
  transform: translate(
    var(--scl-spacing-12),
    calc((var(--scl-spacing-48) - var(--scl-font-size-16)) / 2)
  );
  font-weight: var(--scl-font-weight-medium);
}
.input--has-focus .input__label,
.animated .input__label {
  color: var(--scl-color-grey-60);
  transform: translate(var(--scl-spacing-12), var(--scl-spacing-8));
  transition: all var(--scl-motion-duration-fast)
    var(--scl-motion-easing-standard);
  font-size: var(--scl-font-size-10);
  font-weight: var(--scl-font-weight-bold);
}
.input--status-error .input__textarea {
  border: var(--scl-spacing-2) solid var(--scl-color-background-error);
}
.input--status-error .input__helper-text {
  color: var(--scl-color-text-error);
}
.input--status-error .input__counter {
  color: var(--scl-color-text-error);
}
.input--size-small .input__label {
  top: 0;
  left: 0;
  color: var(--scl-color-grey-60);
  display: flex;
  z-index: var(--scl-z-index-10);
  position: absolute;
  transition: all var(--scl-motion-duration-fast)
    var(--scl-motion-easing-standard);
  pointer-events: none;
  font-size: var(--scl-font-size-16);
  /* previously: transform: translate(
    13px,
    calc((var(--input-small-height, 40px) - 1rem) / 2)
  ); */
  transform: translate(
    var(--scl-spacing-12),
    calc((var(--scl-spacing-40) - var(--scl-font-size-16)) / 2)
  );
  font-weight: var(--scl-font-weight-medium);
}
.input--size-small.input--has-focus .input__label,
.input--size-small.animated .input__label {
  color: var(--scl-color-grey-60);
  transform: translate(var(--scl-spacing-12), var(--scl-spacing-4));
  transition: all var(--scl-motion-duration-fast)
    var(--scl-motion-easing-standard);
  font-size: var(--scl-font-size-10);
  font-weight: var(--scl-font-weight-medium);
}
.input--transparent .input__textarea {
  background-color: transparent;
}
.input__textarea-label-safety-background {
  top: var(--scl-spacing-2);
  left: var(--scl-spacing-2);
  right: var(--scl-spacing-2);
  position: absolute;
  pointer-events: none;
  border-radius: var(--scl-radius-4);
  height: var(--scl-spacing-24);
  background-color: var(--scl-color-background-standard, #ffffff);
}
.input--transparent .input__textarea-label-safety-background,
.input--disabled .input__textarea-label-safety-background {
  background-color: transparent;
}
.input--disabled label,
.input--disabled .input__label,
.input--disabled input,
.input--disabled .input__textarea,
.input--disabled .input__helper-text {
  cursor: not-allowed;
  border-color: var(--scl-color-background-disabled);
  color: var(--scl-color-background-disabled);
  background: var(--scl-color-white);
}
