.button {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  position: relative;
  border: 0;
  outline: none;
  cursor: pointer;
  user-select: none;
  font-family: inherit;
  word-spacing: inherit;
  letter-spacing: inherit;
  justify-content: center;
  text-decoration: none;
  line-height: var(--scl-font-line-height-150);
  padding-left: var(--scl-spacing-24);
  padding-right: var(--scl-spacing-24);
  font-weight: var(--scl-font-weight-bold);
  font-size: var(--scl-font-size-16);
  min-height: var(--scl-spacing-40);
  transition: all var(--scl-motion-duration-fast)
    var(--scl-motion-easing-default);
}

.button:not(.button--disabled):focus {
  box-shadow: 0 0 0 var(--scl-spacing-2) var(--scl-color-focus);
}

.button.button--icon-before ::slotted(*) {
  margin-right: var(--scl-spacing-8);
}

.button.button--icon-after ::slotted(*) {
  margin-left: var(--scl-spacing-8);
}

.button:after {
  top: 0;
  left: 0;
  width: 100%;
  border: var(--scl-spacing-1) solid transparent;
  height: 100%;
  content: '';
  display: block;
  position: absolute;
  box-sizing: border-box;
  pointer-events: none;
  border-radius: var(--scl-radius-8);
}

.button--size-small {
  font-size: var(--scl-font-size-12);
  line-height: var(--scl-font-line-height-133);
  min-height: var(--scl-spacing-32);
}

.button--icon-only {
  padding-left: var(--scl-spacing-8);
  padding-right: var(--scl-spacing-8);
}

.button--disabled {
  cursor: not-allowed;
}

/* Variants */

.button--variant-primary {
  text-align: center;
  border-radius: var(--scl-radius-8);
  background: var(--scl-color-primary);
  color: var(--scl-color-white, #ffffff);
}
.button--variant-primary:not(.button--disabled):hover {
  background: var(--scl-color-primary-hover, #f90984);
}
.button--variant-primary:not(.button--disabled):active {
  background: var(--scl-color-primary-active, #cb0068);
}
.button--disabled.button--variant-primary {
  background: var(--scl-color-background-disabled);
  color: var(--scl-color-grey-40);
}

.button--variant-secondary {
  background: transparent;
  text-align: center;
  border-radius: var(--scl-radius-8);
  border: var(--scl-spacing-1) solid currentColor;
  color: var(--scl-color-text-default);
}
.button--variant-secondary:not(.button--disabled):hover {
  border-color: var(--scl-color-primary-hover, #f90984);
  color: var(--scl-color-primary-hover, #f90984);
}
.button--variant-secondary:not(.button--disabled):active {
  border-color: var(--scl-color-primary-active, #cb0068);
  color: var(--scl-color-primary-active, #cb0068);
}
.button--disabled.button--variant-secondary {
  border-color: var(--scl-color-background-disabled);
  color: var(--scl-color-background-disabled);
}

.button--variant-ghost {
  background: transparent;
  text-align: center;
  border-radius: var(--scl-radius-8);
  border: var(--scl-spacing-1) solid transparent;
  color: var(--scl-color-text-default);
  padding-left: var(--scl-spacing-8);
  padding-right: var(--scl-spacing-8);
}
.button--variant-ghost:not(.button--disabled):hover {
  color: var(--scl-color-primary-hover, #f90984);
}
.button--variant-ghost:not(.button--disabled):active {
  color: var(--scl-color-primary-active, #cb0068);
}
.button--disabled.button--variant-ghost {
  color: var(--scl-color-grey-40);
}
