.button {
  border: 0;
  cursor: pointer;
  display: inline-flex;
  outline: none;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  font-family: inherit;
  word-spacing: inherit;
  letter-spacing: inherit;
  justify-content: center;
  text-decoration: none;
  -moz-user-select: none;
  line-height: var(--type-leading-5, 1.5);
  padding-left: var(--spacing-button, 1.5rem);
  padding-right: var(--spacing-button, 1.5rem);
  font-weight: var(--font-weight-bold, 700);
  font-size: var(--font-size-3, 1rem);
  min-height: var(--size-button, 40px);
  transition: var(--transition-generic, all 0.2s ease-in-out);
}
.button:not(.button--disabled):focus {
  box-shadow: 0 0 0 var(--size-border-focus, 2px) var(--color-focus, #009de0);
}
.button.button--icon-before ::slotted(*) {
  margin-right: var(--spacing-2, 0.5rem);
}
.button.button--icon-after ::slotted(*) {
  margin-left: var(--spacing-2, 0.5rem);
}
.button:after {
  top: 0;
  left: 0;
  width: 100%;
  border: 1px solid transparent;
  height: 100%;
  content: '';
  display: block;
  position: absolute;
  box-sizing: border-box;
  pointer-events: none;
  border-radius: var(--radii-button, 0.5rem);
}
.button--size-small {
  font-size: var(--type-size-2, 0.75rem);
  line-height: var(--type-leading-4, 1.3333);
  min-height: var(--size-button-small, 32px);
}
.button--variant-primary {
  text-align: center;
  border-radius: var(--radii-button, 0.5rem);
  background: var(--color-primary, #e20074);
  color: var(--color-text-contrast, #ffffff);
}
.button--variant-primary:not(.button--disabled):hover {
  background: var(--color-primary-hover, #f90984);
}
.button--variant-primary:not(.button--disabled):active {
  background: var(--color-primary-active, #cb0068);
}
.button--disabled.button--variant-primary {
  background: var(--background-disabled, #d0d0d0);
  color: var(--background-disabled-low-contrast, #a4a4a4);
}
.button--variant-secondary {
  background: transparent;
  text-align: center;
  border-radius: var(--radii-button, 0.5rem);
  border: var(--border-size, 1px) solid currentColor;
  color: var(--color-text, #262626);
}
.button--variant-secondary:not(.button--disabled):hover {
  border-color: var(--color-primary-hover, #f90984);
  color: var(--color-primary-hover, #f90984);
}
.button--variant-secondary:not(.button--disabled):active {
  border-color: var(--color-primary-active, #cb0068);
  color: var(--color-primary-active, #cb0068);
}
.button--disabled.button--variant-secondary {
  border-color: var(--background-disabled, #d0d0d0);
  color: var(--background-disabled, #d0d0d0);
}

.button--icon-only {
  padding-left: var(--spacing-2, 0.5rem);
  padding-right: var(--spacing-2, 0.5rem);
}
.button--disabled {
  cursor: not-allowed;
}
