.slider {
  width: 100%;
  display: block;
  align-items: center;
}

.slider .slider__track-wrapper {
  display: flex;
  align-items: center;
}

.slider .slider__track {
  width: 303px;
  border: 1px solid var(--scl-color-grey-60);
  height: 6px;
  margin: 16px 0;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  border-radius: 100px;
}

.slider .slider__bar {
  height: 6px;
  z-index: -1;
  position: absolute;
  border-radius: 100px;
  background-color: var(--scl-color-primary);
}

.slider .slider__thumb-wrapper {
  width: 32px;
  height: 32px;
  display: flex;
  z-index: 100;
  position: absolute;
  text-align: center;
  align-items: center;
  margin-left: -16px;
  justify-content: center;
  background-color: transparent;
}

.slider .slider__thumb {
  width: 16px;
  border: 1px solid;
  height: 16px;
  outline: none;
  box-sizing: border-box;
  border-color: var(--scl-color-grey-60);
  border-radius: 50%;
  background-color: #fff;
  box-shadow: var(--scl-shadow-level-0);
}

.slider .slider__display-value {
  color: var(--scl-color-grey-60);
  margin-left: 24px;
  font-weight: var(--scl-font-weight-bold);
  font-size: var(--scl-font-size-12);
}

.slider .slider__thumb:hover {
  border-color: var(--scl-color-primary-hover);
}

.slider .slider__thumb:active {
  border-color: var(--scl-color-primary-active);
}

.slider .slider__thumb:focus {
  box-shadow:  0 0 0 var(--scl-spacing-2) var(--scl-color-focus);
}

.slider .slider__thumb-wrapper:hover {
  cursor: grab;
}

.slider .slider__thumb-wrapper:active {
  cursor: grabbing;
}

.slider--track-small .slider__track {
  border: none;
  height: 1px;
  border-top: 1px solid transparent;
  background-color: var(--scl-color-grey-50);
}

.slider--track-small .slider__bar {
  border: 1px solid transparent;
  height: 3px;
  z-index: 1;
  box-sizing: border-box;
}

.slider--thumb-large .slider__thumb {
  width: 24px;
  height: 24px;
}

.slider--disabled .slider__track-wrapper {
  cursor: not-allowed;
}

.slider--disabled .slider__bar {
  background-color: var(--scl-color-grey-50);
}

.slider--disabled .slider__thumb {
  display: none;
}

.slider--disabled .slider__label {
  color: var(--scl-color-grey-50);
}

.slider--disabled .slider__thumb-wrapper:hover {
  cursor: not-allowed;
}
