:host {
  outline: none;
}
.tab-header {
  cursor: pointer;
  display: inline-flex;
  outline: none;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  padding-left: 0;
  height: var(--size-height-tab, 2.5rem);
  margin-right: var(--spacing-5, 1.5rem);
  padding-right: var(--spacing-5, 1.5rem);
  font-family: var(--type-family, TeleNeoWeb);
  font-size: var(--type-size-4, 1.25rem);
  font-weight: var(--type-weight-bold, 700);
  border-radius: var(--radius-small, 0.25rem);
}
.tab-header:after {
  left: 0;
  right: 0;
  width: 100%;
  bottom: 0;
  content: '';
  display: block;
  position: absolute;
  height: var(--size-border-tab, 2px);
  background-color: var(--color-border-tab, #d0d0d0);
}
.tab-header:before {
  left: 0;
  right: 0;
  width: 100%;
  bottom: 0;
  height: 0;
  content: '';
  display: block;
  z-index: 1;
  position: absolute;
  border-top: 1px solid transparent;
}
.tab-header:hover {
  color: var(--color-primary-hover, #f90984);
}
.tab-header:hover:after {
  background-color: var(--color-primary-hover, #f90984);
}
.tab-header:active {
  color: var(--color-primary-active, #cb0068);
}
.tab-header:active:after {
  background-color: var(--color-primary-active, #cb0068);
}
.tab-header ::slotted(*) {
  margin-right: var(--spacing-2, 0.5rem);
}
.tab-header--has-focus {
  box-shadow: 0 0 0 var(--size-border-focus, 2px) var(--color-focus, #009de0);
}
.tab-header--selected {
  color: #e20074;
}
.tab-header--selected:after {
  border-top-left-radius: var(--radius-medium, 0.5rem);
  border-top-right-radius: var(--radius-medium, 0.5rem);
  height: var(--size-border-tab-selected, 4px);
  background-color: #e20074;
}
.tab-header--selected:before {
  border-top: var(--size-border-tab-selected, 4px) solid transparent;
}
.tab-header--small {
  height: var(--size-height-tab-small, 2rem);
  font-size: var(--type-size-3, 1rem);
}
