:host {
  outline: none;
}

.tab-header {
  cursor: pointer;
  display: inline-flex;
  outline: none;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  padding-left: 0;
  height: var(--tab-height);
  margin-right: var(--tab-spacing);
  padding-right: var(---tab-spacing);
  font-family: var(--type-family, TeleNeoWeb);
  font-size: calc(var(--tab-height) / 2);
  font-weight: var(--scl-font-weight-bold);
  border-radius: var(--tab-radius);
}

.tab-header--small {
  --tab-height: 2rem;
}

.tab-header:after {
  left: 0;
  right: 0;
  width: 100%;
  bottom: 0;
  content: '';
  display: block;
  position: absolute;
  height: var(--tab-border-size);
  background-color: var(--tab-border-color);
}
.tab-header:before {
  left: 0;
  right: 0;
  width: 100%;
  bottom: 0;
  height: 0;
  content: '';
  display: block;
  z-index: 1;
  position: absolute;
  border-top: 1px solid transparent;
}
.tab-header:hover {
  color: var(--scl-color-primary-hover);
}
.tab-header:hover:after {
  background-color: var(--scl-color-primary-hover);
}
.tab-header:active {
  color: var(--scl-color-primary-active);
}
.tab-header:active:after {
  background-color: var(--scl-color-primary-active);
}
.tab-header ::slotted(*) {
  margin-right: var(--scl-spacing-8);
}
.tab-header--has-focus {
  box-shadow: var(--scl-shadow-focus-default);
}
.tab-header--selected {
  color: var(--scl-color-primary);
}
.tab-header--selected:after {
  border-top-left-radius: var(--scl-radius-8);
  border-top-right-radius: var(--scl-radius-8);
  height: var(--tab-border-size-selected);
  background-color: var(--scl-color-primary);
}
.tab-header--selected:before {
  border-top: var(--tab-border-size-selected) solid transparent;
}
