:host {
  width: 100%;
  height: 100%;
}
.divider {
  padding: var(--scl-spacing-12);
}
.divider hr {
  margin: 0;
  border: 0;
  border-top: var(--scl-spacing-1) solid var(--scl-color-grey-20);
}
.divider__vertical {
  min-height: var(--scl-spacing-24);
  border-left: var(--scl-spacing-1) solid var(--scl-color-grey-20);
}

.divider--vertical,
.divider--vertical .divider__vertical {
  display: inline-flex;
  height: inherit;
}
